html {
    direction: rtl;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: IRANSans;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    transition: all 0.1s linear;
}

h2 {
    margin: 0.65em;
}

.clearfix::before,
.clearfix::after {
    content: ' ';
    display: table;
}

.clearfix::after {
    clear: both;
}

.flex {
    display: flex;
}

Select,
input {
    font-family: inherit;
}